<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Names</key>
	<array>
		<string>Aaron</string>
		<string>Aisha</string>
		<string>Cadan</string>
		<string>Cadenza</string>
		<string>Cyrenne</string>
		<string>Baldric</string>
		<string>Banbha</string>
		<string>Bryony</string>
		<string>Dafyyd</string>
		<string>Dagmar</string>
		<string>Fabian</string>
		<string>Florence</string>
		<string>Frieda</string>
		<string>Eamonn</string>
		<string>Edith</string>
		<string>Eceline</string>
		<string>Gabriella</string>
		<string>Grant</string>
	</array>
</dict>
</plist>
